*{
    font-family: 'Roboto', sans-serif;
}

p{
    margin: 0;
}

body{
    background-color: rgba(242, 242, 242, 1);
}

button:focus{
    outline: none !important;
}

.my-nice-scroll-bar::-webkit-scrollbar{
    width: 4px;
    
}
.my-nice-scroll-bar::-webkit-scrollbar-track{
    background-color: #FFF;
}
.my-nice-scroll-bar::-webkit-scrollbar-thumb{
    background-color: rgb(68, 64, 64);
    border-radius: 3px;
}
.my-nice-scroll-bar::-webkit-scrollbar-thumb:hover{
    background-color: rgb(44, 44, 44);
}

#contentSection{
    height: calc(100vh - 80px);

   > .row{
        height: inherit;
    }
}

/* --- Search Bar -- */
#mySearchBarSection{

    z-index: 900;
    position: relative;
    background-color: #0C0C23;
    width: 100%;
    padding: 12px 13px;
    display: flex;
    align-items: center;
    border-radius: 0px 10px 0px 0px;
}

.categories-container{
    position: absolute;
}

.my-categories-toggle-btn{
    height: 24px;
    min-width: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: transparent;
    border: none;
}

.my-categories-toggle-btn:focus{
    outline: none !important;
}

.my-categories-toggle-btn > div{
    border: 1.2px solid white;
    background-color: #FFF;
    width: 100%;
    border-radius: 2px;
}

.serarch-icon-btn{
    background-color: transparent;
    border: none;
    margin-left: 26px;
    margin-right: 8px;
  
}

.search-input-area-div, .search-input-area-div > input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #777;
    background-color: transparent;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}

.search-input-area-div > input:focus{
    outline: none !important;
    border-bottom: blue solid 1px;
}
/* --- Search Bar -- */

/* categorie Secttion */
.show-sidebar{
    transform: translateX(0) !important;
}
.hide-sidebar{
    transform: translateX(-100%);
}

.categories-backdrop{
    z-index: 99;
    background: rgba(2, 2, 2, 0.58);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0px 10px 0px 0px;

    display: none;
}

.categoriesSection{
    position: absolute;
    z-index: 900;
    min-height: inherit;
    min-width: 280px;
    width: 309px;
    max-width: 309px;
    height: calc(100vh - 130px);
    margin-top: 50px;
    overflow-y: auto; 

    transition: transform 0.5s;
}


.title-area > h1{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 0;
}

.title-area{
    background: #3A3A47;
    color: #FFF;
    padding-top: 13px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categoriesSectionBody{
    background: #EFEFEF;
    border-radius: 0px 10px 0px 0px;
    /* min-height: inherit; */
    /* max-height: inherit ; */
    /* height: inherit; */

    overflow-y: hidden;

    padding-bottom: 5px;
    /* max-height: fit-content; */
}

.categorie-item{
    padding: 7.5px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.categorie-item:hover, .categorie-item-active{
    background: rgba(12, 12, 35, 0.27);
}

.categorieName{
    font-weight: 400;
    font-size: 15px;
    color: #000;
    font-style: italic;
    margin: 0;
}

.categorieArrow{
    margin-left: auto;
    transition: transform 0.3s;
}

.rotate-categorie-item{
    transform: rotate(90deg);
}

.subcategorie-container{
    background: #3A3A47;
    width: 100%;
    padding: 24px 0px;
    color: #FFF;

    position: relative;
    transition: transform 0.4s;
    transform: translateY(-100%);
    display: none;
}

.subcategorie-active{
    transform: translateY(0);
    display: block;
}


.subCategorie-header{
    margin-bottom: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subCategorie-section-title{
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 0;
    

    color: #FFFFFF;
}

.subCategorieBody{
    display: flex;
    flex-wrap: wrap;
}

.subCategorie-item{
    width: 50%;
    max-width: 100%;
    padding: 4px 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.subCategorie-item:hover{
    background: rgba(194, 194, 194, 0.48);
}

.sucategorie-selected{
    background: linear-gradient(176.28deg, #4545EA 3.03%, #2A6DAB 96.95%);
    border: 0.5px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px 2px #3A56D0;
    border-radius: 21px;;
}

.subCategorie-title{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin: 0;
    justify-self: center;
    pointer-events: none;
}

.selected-categorie-item .categorie-item{
    background: rgba(12, 12, 35, 0.27);
}

.selected-categorie-item .subCategorie-item{
    font-weight: 500;
    color: #000000;
}

/* categorie Secttion */

.filter-service-cards{
    display: flex;
    flex-direction: column;
    height: inherit;
    transition: padding 0.5s;
}

/* filter sction */
#filterSection{
    display: flex;
    flex-wrap: wrap;
    padding: 12px;
    justify-content: space-between;
    align-items: center;
}

.filterSectionTitle{
    font-weight: bold;
    font-size: 12.2px;
    color: #000000;
    margin: 0;
    margin-right: 4px;
}

.filter-item{
    display: flex;
    color: #0C0C23;
    justify-content: center;
    align-items: center;
}

.filter-item .filter-name{
    font-weight: 500;
    font-size: 12px;
    margin: 0;
    margin-right: 5px;
}

.btn-change-location{
    background-color: #0C0C23;
    border-radius: 37px;
    border: none;
    outline: none;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 8px;
}

.btn-change-location:focus{
    outline: none;
    border: 0.2px solid #CCCC;
}

.btn-change-location > svg{
    width: 7.5px;
    height: 10px;
    margin-right: 5.5px;
}

.change-location-btn-title{
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
}

.change-location-btn-title > .normal-change-location-text{
    display: none;
}
.change-location-btn-title > .sm-change-location-text{
    display: flex;
}

.filter-section-vertical-line{
    border: 0.5px solid #CCCCCC;
    height: 19.5px;
    max-width: 1px;
}
#searchTagSection{
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
   
    padding-top: 20px;
    padding-bottom: 10px;

    .search-tag{
        // width: fit-content;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;

        padding: 4px 10px;
        border: 1px solid #888F98;
        box-sizing: border-box;
        border-radius: 144px;
        margin-right: 10px;

        svg{
            cursor: pointer;
            transition: ease 0.3s;

            &:hover{
                background-color: #ebebeb;
            }
        }

        .search-tag-title{
            margin-right: 8px;
            font-weight: 500;
            font-size: 15px;
          
            color: #888F98;
        }
    }
    .clear-tags-div{
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        padding: 7px 8px;
        background: #F2F2F2;
        border-radius: 2px;
        cursor: pointer;
        margin-right: 18px;

        label{
            font-weight: 500;
            font-size: 15px;
            color: #888F98;
            margin-left: 8px;
            cursor: pointer;
        }
    }
}
/* search tag section */

/* service-card */ 
#serviceCadsSection{
    max-height: inherit;
    overflow: auto;
}

.service-card-link{
    text-decoration: none;

    &:hover{
        text-decoration: none;
    }
}

.service-card-container{
    --img-size: 80px;
    display: flex;
    width: 100%;
    
    border-radius: 12px;
    margin-bottom: 16px;

    .service-card{
        display: flex;
        width: inherit;
        margin-left: 40px;
        background: #ffffff;
        padding: 13px 20px;
        padding-left: 0;
        padding-right: 0;
        border-radius: 12px;
        transition: all 0.4s ease;
        border: 1px solid transparent;

        &:hover{
            // background-color: #ddd;
            border: 1px solid black;

        }

        .service-card--profile-img-div {
             transform: translateX(-50%);
             display: flex;
             align-items: center;
             
            img{
                height: var(--img-size);
                width: var(--img-size);
                object-fit: cover;
                border: 0.5px solid #3387cc;
                border-radius: 50%;

            }
        }

        .service-card-info{
            transform: translateX(calc( -1 * var(--img-size) / 2));
            margin-left: 16px;
            width: calc(100% + 400px) !important;
            .service-card-provider-name{
                font-weight: bold;
                font-size: 18px;
                color: #0C0C23;

            }

            .service-card--service-name{
                font-style: italic;
                font-weight: normal;
                font-size: 15px;
               
                color: #888F98;
            }

        
            .service-card--rate-div{
                display: flex;
                flex-direction: row;
                justify-content: center;

                .avaliation-text{
                    font-weight: bold;
                    color: #888F98; 
                    font-size: 15px;
                }

                .avaliation{
                    display: flex;
                    flex-direction: row;
                    gap: 4px;

                    .service-card--avaliation-quantity{
                        font-weight: normal;
                        font-size: 14px;
                        color: #888F98;
                        margin: 0;
                    }
                    
                    .service-card--rate-stars svg{
                        display: none;
                    }
                    .service-card--rate-stars{
                        justify-content: center;
        
                        width: fit-content;
                    }
                    .service-card--rate-stars svg:first-child{
                        display: initial;
                    }
                   
                }
 
            }

            .service-card-location-div{
                .service-card-location{
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: flex-end;
                    flex-wrap: nowrap;
                    margin: 10px 0;
                    align-items: center;

                    label{
                        font-weight: bold;
                        font-size: 14px;
                      
                        color: #888F98;
                        margin-right: 5px;
                    }

                    svg{
                        min-height: 15px !important;
                        width: 15px;
                    }
                }

                .service-card--price {
                    background: #F2F2F2;
                    border-radius: 39px;
                    width: 100%;
                    text-align: center;
                    padding: 5px 0;

                    font-style: italic;
                    font-size: 14px;
            
                    color: #0C0C23;


                }
            }
        }
        
    }
    
}

/* service-card */ 

.cool-categories-section{
    // z-index: 10000 !important;
    
    border-radius: 12px;
    height:inherit;
    overflow: auto;
    min-height: inherit;

   > header{
        border-radius: 12px 12px 0 0;
        background-color: var(--my-color-six);
        height: 77px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        svg{
            width: fit-content;
            cursor: pointer;

            padding: 18px;
            border-radius: 20px;
            transition: ease 0.3s;

            height: 55px;
            &:hover{
                background-color: rgb(96, 94, 223);
                padding: 13px;
            }
        }
        
        h1{
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: 0.05em;
            width: fit-content;
            margin: 0;

            color: #FFFFFF;
            text-align: center;
        }
    }

    > .content{
        padding: 7px 0 ;
        background-color: #FFF;
        height: inherit;
        // min-height: calc(100vh - 77px);
        position: relative;
        flex-wrap: nowrap;
        display: flex;
        overflow: hidden;
        z-index: 0;
       
        .cat-item{
            border-bottom: 2px solid #F2F2F2;
            background-color: #FFF;
            cursor: pointer;
            padding: 0 6px;
            transition: 0.3s linear;
            .col{
                display: flex;
                justify-content: space-between;
                padding: 9px 37px 10px 9px;
                border-radius: 5px;
                
            }

            &:hover{
                background-color: rgb(204, 204, 206);
            }

            &.notSelected{
                z-index: -1;
                position: relative;
                transform: translate(-100%);
            }

            &.selected{
               z-index: 1;
                .col{
                    background-color: var(--my-color-six);
                }
                .cat-text{
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 19px;
                    color: #FFFFFF;
                }
                svg path{
                    fill: #FFF;
                }
            }

            &:last-child{
                border-bottom: none !important;
            }

        }

        .cat-text{
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: var(--my-color-six);
        }


        .subcat-view{
            
            &.selected{
                transform: translateX(-100%);
            }
            
            overflow: hidden;
            transition: 0.3s linear;
            transform: translateX(0);
    
            .back-to-main-menu{
                display: flex;
                cursor: pointer;
                gap: 5px;
                align-items: center;

                h1{
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 19px;
                    color:var(--my-color-six);
                    margin: 0;
                }

            }

            .subcat-item {
                transition: 0.3s linear;
                &:hover{
                    background-color: rgb(204, 204, 206);
                }
                border-bottom: 4px solid transparent;

                &.selected{  
                    font-weight: bold !important;
                    color:var(--my-color-six) !important;
                    font-weight: bold !important;
                    color: var(--my-color-six) !important;

                    label{
                        border-bottom: 4px solid var(--my-color-six);
                    }
                    
                }

                label{
                    cursor: pointer;
                    font-size: 15px ;
                    color: #33363a;
                }
                padding-top: 5px;
                padding-bottom: 5px;
                margin-top: 2px;
                cursor: pointer;

            }

            
        }
    }
}
#cat-container{
    position: absolute;
    transform: translate(-100%);
    z-index: 1000;
    height: 100%;
    max-width: 360px;
    overflow: auto;

    > .row{
        height: inherit;
    }
}

.beforeSearch {
    padding: 15px;
    background-color: #ffffff;
    border-radius: 12px;
    width: 100%;
    max-width: 500px;
    margin: 25px auto 0 auto;

    h3 {
        color: #888F98;
        font-weight: bold;
        text-align: center;
        font-size: 32px;
    }

    ul {
        color: #888F98;
        font-size: 14px;

        li span {
            padding: 5px 9px;
            background-color: #888F98;
            box-sizing: border-box;
            border-radius: 144px;
            color: white;
            font-size: 13px;
            margin: 0 7px;
        }
    }
}

#searchTagSection .clear-tags-div:hover {
    background-color: #FF6F6F;
    transition: .2s;

    label, i {
        color: white;
        transition: .2s;
    }
}

@media(min-width: 500px){
    /* -- filter section -- */
    #filterSection{
        padding: 15px 46px;
    }
    /* -- filter section -- */

    /* -- service cards -- */
    .service-card{
        width: 100%;
    }
    .change-location-btn-title > .normal-change-location-text{
        display: flex;
    }
    .change-location-btn-title > .sm-change-location-text{
        display: none;
    }
    /* -- service cards -- */
}

@media(min-width: 576px){
    .service-card{

        .service-card-location-div{
            display: flex;
            flex-direction: column-reverse;

            .service-card--price{
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                color: #000000;
                background-color: transparent !important;
                text-align: start !important;
            }

            .service-card-location{
                flex-direction: row !important;
                justify-content: flex-start !important;
                gap: 5px;

                cursor: pointer;

                label{
                    cursor: pointer;
                }
            }
        }

        .service-card--rate-stars svg{
            display: initial !important;
        }
        .service-card-provider-name{
            font-weight: bold;
            font-size: 18px;

            color: #0C0C23;
        }
    }
    
}

@media(min-width: 720px){
    
}

@media( min-width: 768px){
    #cat-container{
        position: relative;
        transform: translate(0%);
    }
    .categoriesSection{
        padding-bottom: 0;
    }

    .categories-backdrop{
        display: none !important;
    }

    .my-categories-toggle-btn{
        display: none !important;
    }

    .show-sidebar, .hide-sidebar{
        transform: translateX(0) !important;
    }

    .serarch-icon-btn{
        margin-left: 0;
    }

    .categoriesSection{
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
        height: inherit;
        margin-top: 0;
    }

    .categoriesSection > .title-area{
        display: flex;
        flex-direction: column;
        flex-basis: fit-content;
    }

    .categoriesSectionBody{
        overflow-y: auto;
        height: inherit;
        flex-basis: auto;
    }

    .filter-service-cards{
        // padding-left: 310px;
    }
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/