body{
    font-family: 'Roboto';
}

#myProfileSection{
    margin-top: 75px;
    border: 1px solid black;
    background-color: #F2F2F2;
    width: 100.8%;
}

/*Foto de perfil e avaliação*/

#profilePictureArea{
    height: 480px;
    padding: 100px 0px 100px 0px;
    background-color: #0C0C23;
    color: white;
    border-right: 10px solid rgb(69, 229, 133);
    box-sizing: border-box;
    border-radius: 0px 0px 222.5px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profilePictureArea h1{
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    color: #FFFFFF;
}

#profilePictureArea h3{
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
}

#profilePictureArea p{
    text-align: center;
    color: yellow;
}

#profilePictureArea p i{
    margin-left: 10px;
}

#profilePictureArea #profileImage{
    width: 128px;
    height: 128px;
    border-radius: 131px;
}

/*Formulário*/

#editProfileInformation{
    display: flex;
    flex-direction: column;
    padding: 40px 80px;
}

.formTitle{
    width: 470px;
    color: white;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    background-color: #45E586;
    border-radius: 84px;
    padding: 10px 85px 10px 85px;
    margin-top: -70px;
    align-self: center;
}

#myForms{
    padding: 20px;
}

#myForms label{
    font-weight: 690;
    font-size: 12px;
    color: #0C0C23;
}

.form-control{
    border: 1.5px solid #0C0C23;
    border-radius: 10px;
    padding: 10px;
    background-color: transparent !important;
}

#myForms textarea{
    height: 130px;
}

#changePass{
    color: #45E586;
    border: 1px solid black;
    background-color: #0C0C23;
    border-radius: 0px 10px 8px 0px;
    
}

#changePass:hover{
    text-decoration: none;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    transition: .5s;
}

#buttonEdit{
    color: white;
    padding: 10px 50px;
    background: #0C0C23;
    border-radius: 34px;
    border: 1px solid black;
}

#buttonEdit:hover{
    background: #0C0C23;
    transition: .5s;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.myDisabled{
    color: gray;
    padding: 10px 50px;
    background: transparent;
    border-radius: 34px;
    border: 1px solid gray;
}

#buttonCancel.cancelEdit{
    color: #45E586;
    padding: 10px 50px;
    background: transparent;
    border-radius: 34px;
    border: 1px solid #45E586;
}

#buttonCancel.cancelEdit:hover{
    border: 1px solid rgba(0, 202, 81, 0.801);
    color: rgba(0, 202, 81, 0.801);
    transition: .5s;
}


#buttonSave.saveEdit{
    color: white;
    padding: 10px 50px;
    background: #45E586;
    border-radius: 34px;
    border: 1px solid #45E586;
}

#buttonSave.saveEdit:hover{
    background: #40d67c;
    transition: .5s;
}

@media(max-width: 767.98px){
    #editProfileInformation{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .formTitle{
        width: 100%;
        color: white;
        font-weight: bold;
        font-size: 24px;
        text-align: center;
        background-color: #45E586;
        border-radius: 84px;
        padding: 5px 50px 5px 50px;
        margin-top: 0px;
    }

    #editProfileInformation{
        display: flex;
        flex-direction: column;
        padding: 40px;
    }
}

/*Redes sociais*/

#socialMedia{
    margin-top: 100px;
    margin-bottom: 60px;
    background-color: #0C0C23;
    padding: 40px 0;
    text-align: center;
}

.myContent{
    display: flex;
    flex-direction: column;
}

#socialMedia h1{
    color: white;
    text-align: center;
}

.socialBorder{
    align-self: center;
    width: 94px;
    height: 0px;
    border: 10px solid #FFFFFF;
    margin-bottom: 20px;
}

#socialMedia .col-md-4{
    display: flex;
    flex-direction: column;
}

#socialMedia i{
    text-align: center;
    font-size: 54px;
    color: #45E586;
}

#socialMedia p{
    text-align: center;
    border: 1px solid white;
    color: white;
    padding: 5px 10px;
}

#socialMediaEdit{
    border: 1px solid #45E586;
    padding: 5px 50px;
    background: #45E586;
    box-shadow: 0px 1px 20px rgba(69, 229, 134, 0.25);
    border-radius: 32px;
    font-weight: bold;
}

#socialMediaEdit:hover{
    border: 1px solid #22af5a;
    background: #22af5a;
    transition: .3s;
}


/*Serviços disponibilizados*/
#availableServices{
    margin-top: 100px;
    background-color: #ffffff;
    padding: 40px 0px 0px 20px;
    text-align: center;
}

.serviceBorder{
    align-self: center;
    width: 94px;
    height: 0px;
    border: 10px solid #74ECA4;
    margin-bottom: 20px;
}

#serviceCards{
    text-align: left;
}

.myCard{
    border: 1px solid #0C0C23;
    border-radius: 8px;
}

.myCardHeader{
    color: white;
    background-color: #0C0C23;
}

.myCardButton{
    border: 1px solid #0C0C23;
    border-radius: 32px;
    padding: 5px 45px;
    font-weight: 600;
    background-color: transparent;
}

.myCardButton:hover{
    background-color: #74ECA4;
}

#addService{
    margin-top: 35px;
    color: white;
    border: 1px solid #CDCDCD;
    background: #CDCDCD;
    padding: 10px 70px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
    font-weight: bold;
}

#addService:hover{
    border: 1px solid #45E586;
    background: #45E586 ;
    text-decoration: none;
    transition: .3s;
}

/*Serviços Solicitados*/
#requestedServices{
    margin-top: 100px;
    background-color: #f2f2f2;
    padding: 40px 0px 0px 20px;
    text-align: center;
    padding: 40px 0;
}

#requestedCards{
    text-align: left;
}

.requestedBorder{
    align-self: center;
    width: 94px;
    height: 0px;
    border: 10px solid #0C0C23;
    margin: 20px 0px;
}

.myCard2{
    border: transparent;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(51, 51, 204, 0.3);
}

.myCardHeader2{
    border-radius: 8px 8px 0 0 !important;
    color: white;
    background-color: #3333CC;
}

.myCardAccept{
    border: 1px solid #45E586;
    background: #45E586;
    color: white;
    border-radius: 32px;
    padding: 5px 25px;
    font-weight: 600;
}

.myCardAccept:hover{
    border: 1px solid #34b367;
    background: #34b367;
}

.myCardReject{
    border: 1px solid #e54545;
    background: #e54545;
    color: white;
    border-radius: 32px;
    padding: 5px 25px;
    font-weight: 600;
}

.myCardReject:hover{
    color: white;
    border: 1px solid #b93636;
    background: #b93636;
}

#requestedCards a{
    font-weight: 700;
    color: white;
}

.myCard2 .alert{
    margin: 0;
}

/*Histórico de serviços contratados*/
#recentServices{
    padding: 40px 0;
    margin-top: 100px;
    background-color: #0C0C23;
    padding: 40px 0;
    text-align: center;
}

#recentServices h1{
    color: white;
    font-size: 36px;
}

#recentServicesCards{
    text-align: left;
}

.myCard3{
    border: 1px solid black;
    border-radius: 8px !important;
}

.myCardHeader3{
    border-radius: 8px 8px 0 0 !important;
    color: white;
    background-color: #888F98;
}

.recentServicesPic{
    width: 64px;
    height: 64px;
    border-radius: 131px;
}

/*Serviços salvos*/
#savedServices{
    margin-top: 100px;
    background-color: #ffffff;
    padding: 40px;
    text-align: center;
}

#savedCards{
    text-align: left;
}