body {
    position: relative;
    height: 100vh;
}

#title{
    justify-content: center;
    text-align: center;
    display: block;
    padding-bottom: 45px;
    padding-top: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 2.1rem;
    color: #02044A;
}

#contact {
    margin-bottom: 110px;
    box-shadow:
        0 9.3px 10.7px rgba(0, 0, 0, 0.025),
        0 9.8px 12.9px rgba(0, 0, 0, 0.034),
        0 19.7px 31.1px rgba(0, 0, 0, 0.045),
        0 58px 103px rgba(0, 0, 0, 0.08);

    border-radius: 20px;

}

#ourInfo {
    background-color:#3333CC;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;

}

#ourInfo a{
    font-family: 'Roboto', sans-serif;
    color: #F2F2F2;
}

#ourInfo a:nth-child(1){
    font-weight: bold;
    font-size: 2rem;
    margin-top: 55px;
}

#ourInfo a:nth-child(2){
    font-style: italic;
    margin-bottom: 10px;
}

#ourInfo div:nth-child(5){
    margin-bottom: 60px;
}

.contactInfo{
    border: #F2F2F2 solid;
    border-width: 0.1px;
    border-radius: 10px;
    display: flex;
    padding-top: 11px;
    padding-right: 11px;
    padding-left: 11px;
    margin-top: 12px;
    margin-bottom: 10px;
    align-content: center;
    color: #F2F2F2;
    flex-grow: 1;
    min-width: 200px;
}

.contactInfo p{
    padding-left: 10px;
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
}

.contactInfo i{
    font-size: 1.3rem;
}

#contactArea{
    background: white;
    border-radius: 20px;

}

#message textarea{
    resize: none;
}

#contactForms label{
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    color: #3333CC;
    font-weight: bold;
}

#contactForms input{
    color: black;
}

#myMainFooter{
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media (max-width:767px) {
    #title{
        padding: 2px;
    }

    #ourInfo a{
        padding: 0;
        margin: 0;
    }

    #contactForms button{
        margin: 15px;
    }

    #contactForms label{
        margin-top: 5px;
        font-size: 1rem;
    }

}

@media (max-width: 991.98px){
    #myMainFooter{
        position: relative;
    }

    body {
        position: relative;
        height: unset;
    }
}

@media (max-height: 860px){
    #myMainFooter{
        position: relative;
    }
}